.header-wrapper {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 65px;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    padding-left: 1.5%;
    padding-right: 1.5%;
    align-items: center;
    position: fixed;
    /* transition: all 0.2s ease; */
    box-sizing: border-box;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.header-container-r {
    gap: 50px;
}

.header-user-wrapper {
    gap: 25px;
}

.header-search-wrapper {
    width: 25vw;
}

.header-user-nameinitials-container {
    width: 32.5px;
    height: 32.5px;
    background-color: var(--color-grey);
    padding: 2px;
    border-radius: 500px;
    box-sizing: border-box;
}

.header-user-name {
    margin-bottom: -2.5px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-status {
    padding: 5.5px;
    border-radius: 500px;
    border: 2px solid white;
    position: absolute;
}

.header-status-user {
    margin-left: 25px;
    margin-top: 25px;
}

.header-status-notification {
    margin-left: 25px;
    margin-bottom: 25px;
}

.status-green {
    background-color: var(--color-green);
}

.status-red {
    background-color: var(--color-red);
}

.header-profile-modal {
    position: absolute;
    right: 20px;
    background-color: var(--color-black);
    border-radius: 15px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-profile-modal-button {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
}
.header-profile-modal-button:hover {
    background-color: var(--color-darkgrey);
}